page-sple-info {
    .text{
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .cancel{
        background: white; 
    }
     .comfirm{
         background: color($colors,primary);
    }
}
