page-flow-pack-info {

    //设置背景颜色
    ion-content{
        background: color($colors,ty-partingline) !important;
    }
    
    .searchbar-ios .searchbar-input{
        font-size: 1.3rem !important;
        padding: 0;
    }

    [icon-left] ion-icon, [icon-start] ion-icon{
        margin-left: 10px !important;
    }

}
