page-flow-pack-info {
    .btnDiv{
        margin:auto;
        width:  100%;
        text-align: center;
    }

    .button-ios{
        margin:0.4rem 2rem 0.4rem 2rem !important;
    }

    [icon-left] ion-icon, [icon-start] ion-icon{
        margin-left: 10px !important;
    }
}
