<!--
  Generated template for the CollectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>样品采集</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding no-margin>

  <ion-segment mode="md" [(ngModel)]="spleCategory">
    <ion-segment-button value="待采样" (click)="segmentClick(0)">
      <!-- <p>{{item.count}}</p> -->
      待采样
      <div class="bolder-sm"></div>
    </ion-segment-button>
    <ion-segment-button value="已采样" (click)="segmentClick(1)">
      待上传
      <div class="bolder-sm"></div>
    </ion-segment-button>
    <ion-segment-button value="已上传" (click)="segmentClick(2)">
      已上传
      <div class="bolder-sm"></div>
    </ion-segment-button>
    <ion-segment-button value="待流转" (click)="segmentClick(3)">
      待流转
      <div class="bolder-sm"></div>
    </ion-segment-button>
  </ion-segment>

  <div class="ty-line15"></div>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- 推荐 -->
  <div [ngSwitch]="spleCategory">
    <div *ngFor="let item of tabList">
      <div *ngIf="spleCategory==item.name">
        <ion-list *ngIf="spleList[spleCategory]!=null&&spleList[spleCategory].length>0" no-margin>
          <ion-item *ngFor="let spleTask of spleList[spleCategory]" (click)="goToSpleDetail(spleTask)">
            <P style="color: darkkhaki">详查单元编码:{{spleTask.spleNo}}</P>
            <h5 class="title">{{spleTask.addr}}</h5>
            <h3 class="date">{{spleTask.title}}</h3>
            <h3 class="date">{{spleTask.desc}}</h3>
            <ion-item no-margin no-lines>
              <button ion-button icon-start item-end>
                <ion-icon name="create"></ion-icon>采样</button>
              <button ion-button icon-start item-end>
                <ion-icon name="pin"></ion-icon>导航</button>
            </ion-item>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll *ngIf="spleList[spleCategory]!=null&&spleList[spleCategory].length<recordsTotalList[spleCategory]" (ionInfinite)="doInfinite($event)"
          threshold="10%">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <div class="empty" *ngIf="spleList[spleCategory] == null||spleList[spleCategory].length==0 ">
          <p>暂无内容</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>