page-building {
  
    
    .card-ios{
        height: 90%;
        text-align: center;
        background-color: #f0f7f3;
        border-radius:0 !important;
    }

    .icon-ios-primary{
        font-size: 15rem;
    }
}
