<!--
  Generated template for the CollectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>进度查询</ion-title>
    </ion-navbar>
  
    <ion-segment mode="md" class="commSegBtn" [(ngModel)]="progCategory">
      <ion-segment-button value="accept" (click)="segmentClick(0)">
        <!-- <p>{{item.count}}</p> -->
        待收样
        <div class="bolder-sm"></div>
      </ion-segment-button>
      <ion-segment-button value="test" (click)="segmentClick(1)">
        待测试
        <div class="bolder-sm"></div>
      </ion-segment-button>
      <ion-segment-button value="tested" (click)="segmentClick(2)">
        已测试
        <div class="bolder-sm"></div>
      </ion-segment-button>
      <ion-segment-button value="reported" (click)="segmentClick(3)">
        已上报
        <div class="bolder-sm"></div>
      </ion-segment-button>
    </ion-segment>
  </ion-header>
  
  
  <ion-content no-padding no-margin>
    <div class="ty-line15"></div>
    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->
    <!-- 推荐 -->
    <div [ngSwitch]="progCategory">
      <div *ngIf="progCategory=='accept'">
        <ion-list *ngIf="acceptList!=null&&acceptList.length>0" no-margin>
            <ion-card  *ngFor="let pack of acceptList" (click)="goToAccSpleDetail(pack)">
                <ion-item  no-lines detail-push>
                    <P style="color: #363636">样包编码:{{pack.PackageCode}}</P>
                    <div class="ty-line1" style="margin-top: 8px;margin-bottom: 8px;"></div>
                    <P class="date">包内样品数:{{pack.PackageNum}}</P>
                    <p class="date">实验室:{{pack.UnitName}}</p>
                    <p class="date">{{testItems[pack.CheckParam]}}</p>
                </ion-item>
            </ion-card>
        </ion-list>
        <div class="empty" *ngIf="acceptList == null|| acceptList.length==0 ">
          <p>暂无内容</p>
        </div>
      </div>
  
      <div *ngIf="progCategory=='test'">
        <ion-list *ngIf="testList!=null&&testList.length>0" no-margin>
            <ion-card  *ngFor="let pack of testList" (click)="goToTestSpleDetail(pack)">
                <ion-item  no-lines detail-push>
                    <P style="color: #363636">样包编号:{{pack.PackageCode}}</P>
                    <P class="date">二次编码:{{pack.TwoSampleId}}</P>
                    <p class="date">实验室:{{pack.UnitName}}</p>
                    <p class="date">测试名称:{{pack.ParamCatetoryNames}}</p>
                </ion-item>
            </ion-card>
        </ion-list>
        <div class="empty" *ngIf="testList == null|| testList.length==0 ">
          <p>暂无内容</p>
        </div>
      </div>
  
      <div *ngIf="progCategory=='tested'">
        <ion-list *ngIf="testedList!=null&&testedList.length>0" no-margin>
            <ion-card  *ngFor="let pack of testedList" (click)="goToTestSpleDetail(pack)">
                <ion-item  no-lines detail-push>
                    <P style="color: #363636">样包编号:{{pack.PackageCode}}</P>
                    <P class="date">二次编码:{{pack.TwoSampleId}}</P>
                    <p class="date">实验室:{{pack.UnitName}}</p>
                    <p class="date">测试名称:{{pack.ParamCatetoryNames}}</p>
                </ion-item>
            </ion-card>
        </ion-list>
        <div class="empty" *ngIf="testedList == null|| testedList.length==0 ">
          <p>暂无内容</p>
        </div>
      </div>
  
      <div *ngIf="progCategory=='reported'">
          <ion-list *ngIf="reportedList!=null&&reportedList.length>0" no-margin>
              <ion-card  *ngFor="let pack of reportedList" >
                  <ion-item  no-lines>
                      <P style="color: #363636">样包编号:{{pack.PackageCode}}</P>
                      <P class="date">二次编码:{{pack.TwoSampleId}}</P>
                      <p class="date">实验室:{{pack.UnitName}}</p>
                      <p class="date">测试名称:{{pack.ParamCatetoryNames}}</p>
                  </ion-item>
              </ion-card>
          </ion-list>
          <div class="empty" *ngIf="reportedList == null|| reportedList.length==0 ">
            <p>暂无内容</p>
          </div>
      </div>
    </div>
  
  </ion-content>