page-task-summary-dialog {
    .transBg{
        background-color: rgba(255, 255, 255, 0.233);
        text-align: center;
        margin: auto;
    }

    .transBg{
        margin-top: 40%;
        background-color: #ffffff;
        width: 70%;
    }

    .gridItemBg{
        background-color: white;
        text-align: center;
        margin: auto;
    }
}
