<!--
  Generated template for the SpleStationInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only (click)="back()">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>制备单位详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding no-margin>
  <ion-list>

    <ion-item style="margin-top: 15px;" *ngIf="!isSub">
      <ion-icon name="home" item-start color="primary"></ion-icon>
      <ion-label>制样基地名称</ion-label>
      <p item-end>{{sple.UnitName}}</p>
    </ion-item>
    <ion-item style="margin-top: 15px;" *ngIf="isSub">
      <ion-icon name="home" item-start color="primary"></ion-icon>
      <ion-label>流转中心名称</ion-label>
      <p item-end>{{sple.UnitName}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="bookmark" item-start color="primary"></ion-icon>
      <ion-label>组件单位</ion-label>
      <p item-end>{{DepartmentIDs[sple.DepartmentID]}}</p>
    </ion-item>

    <ion-item *ngIf="!isSub">
      <ion-icon name="pin" item-start color="primary"></ion-icon>
      <ion-label>制样基地地址</ion-label>
      <p item-end>{{sple.UnitAddress}}</p>
    </ion-item>
    <ion-item *ngIf="isSub">
      <ion-icon name="pin" item-start color="primary"></ion-icon>
      <ion-label>流转中心地址</ion-label>
      <p item-end>{{sple.UnitAddress}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="contact" item-start color="primary"></ion-icon>
      <ion-label>联系人</ion-label>
      <p item-end>{{sple.PersonLiable}}</p>
    </ion-item>

    <ion-item >
      <ion-icon name="call" item-start color="primary"></ion-icon>
      <ion-label>联系电话</ion-label>
      <p item-end>{{sple.Phone}}</p>
    </ion-item>
  </ion-list>
</ion-content>