page-test-accept {
    .card-ios{
        text-align: center;
        border-radius:0 !important;
    }

    .searchbar-ios .searchbar-input{
        font-size: 1.3rem !important;
        padding: 0;
    }
    .empty{
        text-align: center;
        color: rgb(222, 222, 222)
    }
}
