page-task-map {
    .amap-logo {
        display: none !important;
    }
    .amap-toolbar{
        top:50% !important;
        bottom: 50% !important;
    }

    .amap-copyright {
        opacity: 0;
    }

    .item.item-ios .checkbox-ios{
        margin: 0px !important;
    }
    .item-ios{
        padding: 0px 0px 0px 5px !important;
    }
    .label-ios{
        margin: 0px 0px 0px 3px !important;
        font-size: 1.0rem !important;
    }

    .text-color {
        color: #eee;
    }

    .item-ios{
        background-color: transparent !important;
    }
    
    .row .col-33 {
        //margin-left: 0;
        text-align: center;
    }

    // .checkbox-md {
    //     position: relative;
    //     display: inline-table;
    //     margin-right: -15px;
    // }
    
    .btn-group input[type="checkbox"], .btn-group input[type="radio"] {
        display: none;
    }

    .btn-group input[type="checkbox"]:checked + .btn-group {
        background-color: #3DEF9D;
    }
    
    .btn-group input[type="checkbox"] + label, .btn-group input[type="radio"] + label, .btn-group input[type="text"], .btn-group input[type="number"] {
        display: block;
        border: 1px solid #ccc;
        //margin: 0 0 .5rem 0; 
        border-radius: .2rem;
        padding: .5rem .2rem;
        text-align: center;
        transition: all .5s;
        font-size: 1.5rem;
        background: #eee;
        box-shadow: none;
    }
    .btn-group input[type="checkbox"]:checked + label, .btn-group input[type="radio"]:checked + label {
        display: block;
        //margin: 0 0 .5rem 0; 
        border-radius: .2rem;
        padding: .5rem .2rem;
        text-align: center;
        transition: all .5s;
        font-size: 1.5rem;
        box-shadow: none;
        border: 1px solid #429170;
        color: #eee;
        background: #429170;
    }
    .btn-group .dai input[type="checkbox"]:checked + label, .btn-group .dai input[type="radio"]:checked + label {
        border: 1px solid #3CAEF0;
        background: #3CAEF0;
    }
    .btn-group .cun input[type="checkbox"]:checked + label, .btn-group .cun input[type="radio"]:checked + label {
        border: 1px solid #EF543E;
        background: #EF543E;
    }
    .btn-group .chuan input[type="checkbox"]:checked + label, .btn-group .chuan input[type="radio"]:checked + label {
        border: 1px solid #3DEF9D;
        background: #3DEF9D;
    }
    .btn-group .che input[type="checkbox"]:checked + label, .btn-group .che input[type="radio"]:checked + label {
        border: 1px solid #EF3DC3;
        background: #EF3DC3;
    }
    .grid > .row > .item-block{
        min-height: 2.8rem;
    }
}
