page-collect-task {
    /* .input-border input, .input-border textarea  {
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 8px;
    }
    .input-border{
        margin-top: 5px;
        margin-bottom: 3px;
        border: solid 1px #aaa;
    } */
    ion-label {
        white-space: normal;
        width: 120px !important;
    }
/*     .input-border[disabled=true]{
        background-color: #ddd;
    } */

    textarea.text-input{
        height: 75px !important;
    }
}
