<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border>
    <ion-title>环保宝</ion-title>
  </ion-navbar>

  <ion-slides pager="true">
    <ion-slide *ngFor="let news of newsList">
      <img style="width:100%;height:200px;" src="{{news.imageUrl}}">
    </ion-slide>
  </ion-slides>
</ion-header>

<ion-content #myContent no-padding no-margin>
    <ion-list no-margin>
        <ion-card *ngFor="let app of appList" (click)="gotoLogin(app.appType)">
            <ion-item  no-lines detail-push style="background-color: rgb(240, 248, 246);">
                <ion-icon name={{app.icon}} item-start color="primary"></ion-icon>
                <ion-label>{{app.name}}</ion-label>
            </ion-item>
        </ion-card>
    </ion-list>

  <!-- <div style="height: 60%;position: relative">
      <ion-row>
          <ion-col col-6>
            <ion-card (click)="gotoLogin('Cy');">
              <ion-icon name="leaf" color="primary" item-left ios="ios-leaf" md="ios-leaf"></ion-icon>
              <div class="card-title">样品采集</div>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card (click)="gotoLogin('Zy');">
              <ion-icon name="leaf" color="primary" item-left ios="ios-color-fill" md="ios-color-fill"></ion-icon>
              <div class="card-title">样品制备</div>
            </ion-card>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col col-6>
            <ion-card (click)="gotoLogin('Lz');">
              <ion-icon name="leaf" color="primary" item-left ios="md-car" md="md-car"></ion-icon>
              <div class="card-title">样品流转</div>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card (click)="gotoLogin('Jc');">
              <ion-icon name="leaf" color="primary" item-left ios="ios-flask" md="ios-flask"></ion-icon>
              <div class="card-title">样品测试</div>
            </ion-card>
          </ion-col>
        </ion-row>
  </div> -->
  
</ion-content>