page-test-dev {
    .bgContent{
        background:url('../assets/imgs/swim2.jpg');
        position: absolute;
        background-repeat: no-repeat;
        background-size:100% 100%;
        top: 0 !important;
        .scroll-content{
            overflow-y: scroll;
        }
    }
}
