page-find-ent {
    .amap-logo {
        display: none !important;
    }

    .amap-copyright {
        opacity: 0;
    }

    .amap-touch-toolbar .amap-zoomcontrol{
        bottom: 10px !important;
    }

    .comfirm{
        background: color($colors,primary);
   }
}
