page-find-ent {
    .amap-logo {
        display: none !important;
    }

    .amap-copyright {
        opacity: 0;
    }

    .amap-touch-toolbar .amap-zoomcontrol{
        bottom: 10px !important;
    }

    .comfirm{
        background: color($colors,primary);
   }

   .positionpicker {
        width: 0;
        height: 0;
        overflow: visible;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
        color:rgb(209, 72, 68); 
        font-size: 3.9rem;
    }
}
