page-prep-sple-accept {
    .card-ios{
        text-align: center;
        border-radius:0 !important;
    }

    .searchbar-ios .searchbar-input{
        font-size: 1.3rem !important;
        padding: 0;
    }
}
