page-test-pack-info {
    .label-ios{
        font-size:1.5rem !important;
    }
    .comfirm{
        background-color: #8aa88f;
    }
    .item > ion-icon, .item-inner > ion-icon{
        font-size: 2.0rem !important;
    }
}
